<div class="container">
  <button  (click)="toggle()" class="form-control mt-5" id="bt">
    {{buttonName}}
  </button>
  <ng-container *ngIf="show">
    <div class="row">
      <div class="col-6">
        <label for="title">title</label>
        <input #title class="form-control" type="text" name="title" id="">
      </div>
      <div class="col-6">

        <label   for="body">body</label>
        <input #body class="form-control" type="text" name="body" id="">
        <input class="form-control" type="text" name="body" id="">
      </div>
      <button class="btn btn-primary col-3 m-5" (click)="createPost(title,body)">create post</button>
    </div>
  </ng-container>
</div>

<div class="container mt-5">
  <div class="card ">
    <div class="card-body mx-auto">
      <h5 class="card-title">User : {{user.name}}</h5>
      <p class="card-text">userName : {{user.username}}</p>
      <p class="card-text text-danger">Email : {{user.email}}</p>
      <button class="btn btn-info" (click)="getPosts(user.id)">posts</button>
    </div>
    <!-- <a [routerLink]="['/posts', user.id]">posts</a> -->
  </div>
  <div class="row ">
    <div class="col-sm-12 col-md-6 col-lg-4 " *ngFor="let post of posts">
      <app-post-card [id]="post.id"></app-post-card>
    </div>
  </div>
</div>
